@using OrchardCore.ContentManagement
@model IEnumerable<ContentItem>

<h1>@(ViewBag.Title ?? "Urgency List")</h1>

<div class="row">
    @if (!Model.Any())
    {
        <div class="alert alert-info">No urgent notes found!</div>
    }
    else
    {
        @foreach (var item in Model)
        {
            var urgencyPart = item.Content.UrgencyPart;

            <div style="margin-bottom: 20px;">
                <h3>@item.DisplayText</h3>
                <div><strong>Urgency Level:</strong> @urgencyPart.UrgencyMeter</div>
                <p>@urgencyPart.Description</p>
                <small style="color: grey;">@urgencyPart.UpdatedAt</small>
                <br>
            </div>
        }
    }
</div>